* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

.header-container { 
    background-color: #1F2937;
}

header { 
    width: 900px;
    margin: 0 auto;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { 
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.header-links { 
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.hero-container {
    background-color: #1F2937;
}

.hero { 
    width: 900px;
    margin: 0 auto;
    padding: 72px 18px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.hero-left,
.hero-image { 
    flex: 1;
}

.hero-left {
    /*  */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-title { 
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero-text { 
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.sign-up {
    /*  */
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
}

.hero-image {
    background-color: #6D747D;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info { 
    width: 900px;
    margin: 0 auto;
    padding: 72px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
    text-align: center;
}

.info-cards { 
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
}

.card-box { 
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.card-text {
    text-align: center;
}

.quote-container { 
    background-color: #E5E7EB;
}

.quote { 
    width: 700px;
    margin: 0 auto;
    padding: 72px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text { 
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    flex: 1;
}

.quote-author { 
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
}
